.search {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.search__form {
    display: flex;
}

.search__input {
    border: 0;
    padding: 5px 40px 5px 5px;
    width: 100%;
}

.search__button {
    border: 0;
    background-color: var(--color-light-grey);
    padding: 5px;
    transition: background-color .3s ease;
    position: absolute;
    top: 0;
    right: 0;
}

.search__button:hover {
    background-color: var(--color-red);
    cursor: pointer;
}

.search__button svg {
    stroke: var(--color-white);
}
